---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import FeatureImg1 from "@assets/features/12-5.png";
import FeatureImg2 from "@assets/features/2.svg";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";

const { nomargin } = Astro.props;

import {
  getLangFromUrl,
  useTranslations,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class:list={[
    "max-w-4xl mx-auto flex flex-col items-center justify-center",
    !nomargin && "mt-24",
  ]}>
  <Badge color="blue">{t("feature-alt.badgeText1")}</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    {t("feature-alt.heading1")}
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    {t("feature-alt.paragraph1")}
  </p>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center">
    <Picture
      src={FeatureImg1}
      alt={t("feature-alt.pictureAlt1")}
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="blue" class="-ml-px">{t("feature-alt.badgeText2")}</Badge>
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        {t("feature-alt.heading2")}
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        {t("feature-alt.paragraph2")}
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >{t("feature-alt.ulliText1")}</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText2")}</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText3")}</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText4")}</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText5")}</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link
          href="https://app.worklenz.com/auth/signup"
          size="sm"
          class="inline-flex items-center group gap-px">
          <span>{t("feature-alt.linkText1")}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
    <Picture
      src={FeatureImg2}
      alt={t("feature-alt.pictureAlt2")}
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="blue" class="-ml-px">{t("feature-alt.badgeText3")}</Badge>
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        {t("feature-alt.heading3")}
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        {t("feature-alt.paragraph3")}
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText6")}</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText7")}</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText8")}</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText9")}</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText10")}</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">{t("feature-alt.ulliText11")}</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link
          href="https://app.worklenz.com/auth/signup"
          size="sm"
          class="inline-flex items-center group gap-px">
          <span>{t("feature-alt.linkText1")}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
      </div>
    </div>
  </div>
</div>
