---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingComponent from "@components/pricing.astro";
import Faq from "@components/faq.astro";
import ComparePricing from "@components/compare-pricing.astro";
import PricingLink from "@components/ui/pricingLink.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang)

const pricingPageList = t("selfHosted.pricing");
const pricing = Array.isArray(pricingPageList)
  ? pricingPageList // If already an array, just use it
  : Object.values(pricingPageList);
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{t("selfHosted.title")}</Fragment>
      <Fragment slot="desc">
        {t("selfHosted.desc")}
      </Fragment>
    </Sectionhead>

    <div class="flex flex-row mx-auto w-[400px] mt-12">
      <PricingLink href={translatePath("/pricing")} style="muted" block size="md">{t("pricingpage.link.text1")}</PricingLink>
      <PricingLink href={translatePath("/self-hosted")} size="md" block>{t("pricingpage.link.text2")}</PricingLink>
    </div>

    <div class="grid mx-auto max-w-[400px] mt-12">
      {pricing.map((item) => <PricingComponent plan={item} />)}
    </div>
    <ComparePricing />
    <Faq />
  </Container>
</Layout>
