---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-bl from-blue-900 to-blue-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Know where your resources are….
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    cutting-edge innovative features just to make sure that your project process smoothly
  </p>
  <div class="flex mt-5">
    <Link href="https://app.worklenz.com/auth/signup" style="inverted">Sign up now!</Link>
  </div>
</div>
