---
import Container from "./container.astro";
import { ArrowIcon } from "./ui/icons";
import {
  getLangFromUrl,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const faqhomeObj = t("faqhome.list");
const faq = Array.isArray(faqhomeObj)
  ? faqhomeObj // If already an array, just use it
  : Object.values(faqhomeObj);

// Generate the FAQ schema
const faqSchema = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: faq.map((item) => ({
    "@type": "Question",
    name: item.question,
    acceptedAnswer: {
      "@type": "Answer",
      text: item.answer,
    },
  })),
};
---

<Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      {t("faqhome.h2")}
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      {t("faqhome.desc")}
    </p>
  </div>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span>{item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
  <!-- Add FAQ schema markup -->
  <script
    type="application/ld+json"
    set:html={JSON.stringify(faqSchema, null, 2)}
  />
</Container>
