---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "What is Worklenz?",
    answer:
      "Worklenz is an intuitive project management tool designed to help teams streamline workflows, manage tasks, and collaborate efficiently.",
  },
  {
    question: "Is Worklenz free to use?",
    answer:
      "Yes, Worklenz is free to use with a limit of three active projects.",
  },
  {
    question: "Does Worklenz offer a free trial?",
    answer:
      "Yes, we offer a 14-day free trial for all premium features—no credit card required.",
  },
  {
    question: "What subscription plans are available?",
    answer:
      "We offer monthly and annual plans. For teams prioritizing data privacy, a self-hosted version is also available. Visit our pricing page for more details.",
  },
  {
    question: "Can I host Worklenz on my own server?",
    answer:
      "Yes, Worklenz offers a self-hosted version for enhanced control and privacy.",
  },
  {
    question: "How can I customize Worklenz to fit my team's needs?",
    answer:
      "You can customize statuses, phases, and columns to align with your team's workflows and processes.",
  },
  {
    question: "Does Worklenz support time tracking for tasks?",
    answer:
      "Yes, you can track time for tasks using a timer or by adding time logs manually.",
  },
  {
    question: "Is it possible to attach files to tasks?",
    answer:
      "Yes, files can be attached to tasks and comments, ensuring all relevant information is easily accessible.",
  },
  {
    question: "Does Worklenz have task templates?",
    answer:
      "Yes, you can use predefined templates or create your own templates from existing projects to reuse them efficiently.",
  },
];
---

<Container>
  <!-- <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequenty asked questions</Fragment>
  </Sectionhead> -->

  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      FAQ
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      Frequenty asked questions
    </p>
  </div>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
</Container>
