---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "How does the free plan work?",
    answer:
      "Our free plan is available to use forever, with some limitations. If your team has less than five members, this plan may be suitable for you. However, please note that you will not have access to our scheduler and reporting features, and your storage will be limited to 500MB.",
  },
  {
    question: "What the free trial is and how it works?",
    answer:
      "We offer users the opportunity to experience our pro plan for 14 days, during which you can explore all features with unlimited active projects, team members, and storage without adding any credit card details.",
  },
  {
    question: "What happens once the free trial period ends?",
    answer:
      "Once the free trial ends, you can choose to continue with our pro plan by simply adding a credit card. If you decide not to continue with the pro plan, you can remove any unnecessary team members, projects, and files, and then use our free plan.",
  },
];
---

<Container>
  <Sectionhead>
    <Fragment slot="title">FAQ</Fragment>
    <Fragment slot="desc">Frequenty asked questions</Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
              {item.answer}
            </p>
          </details>
        </div>
      ))
    }
  </div>
</Container>
