---
import { Picture } from "astro:assets";
import heroImage from "@assets/hero-image.png";
import heroImageMobile from "@assets/mobile-hero-image.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
import {
  getLangFromUrl,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="overflow-x-clip">
  <Container>
    <main class="place-items-center relative mt-16">
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-blue-200 right-0 top-0">
      </div>
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
      </div>

      <div class="">
        <h1
          class="text-4xl md:text-5xl lg:text-6xl xl:text-6xl lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-center xl:text-center font-bold leading-tight">
          {t("hero.heading")}
          <br>
          <span
            class="text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-semibold text-blue-600">
            {t("hero.headingSpan")}
          </span>
        </h1>

        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-center mx-auto">
          {t("hero.headingParagraph")}
        </p>
        <div
          class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-center gap-3">
          <Link
            href="https://app.worklenz.com/auth/signup"
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            {t("hero.linksignupText")}
          </Link>
          <!-- Add Product Hunt Button -->
          <a
            href="https://www.producthunt.com/posts/worklenz?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-worklenz"
            target="_blank"
            class="center-mobile-hero"
            ><img
              src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=446424&theme=light"
              alt= {t("hero.imageAlt")}
              style="width: 250px; height: 54px;"
              width="250"
              height="54"
            /></a
          >
        </div>
        <div
          class="mt-4 flex items-center justify-center gap-2 review-section-hero">
          <div class="flex -space-x-1 review-section-hero-images">
            <img
              class="w-8 h-8 rounded-full border-2 border-white"
              src="/testimonials/pulani-ranasinghe.jpeg"
              alt="User 1"
            />
            <img
              class="w-8 h-8 rounded-full border-2 border-white"
              src="/testimonials/upul-dissanayake.jpeg"
              alt="User 2"
            />
            <img
              class="w-8 h-8 rounded-full border-2 border-white"
              src="/testimonials/milinda-piyasena.png"
              alt="User 3"
            />
            <img
              class="w-8 h-8 rounded-full border-2 border-white"
              src="/testimonials/marta-gomez-jimenez.jpeg"
              alt="User 4"
            />
          </div>
          <span class="text-gray-600 text-sm review-section-hero-text"
            >{t("hero.reviewsText")}</span
          >
          <span class="text-yellow-500 text-sm review-section-hero-text"
            >★★★★★</span
          >
        </div>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44 mt-20 mb-16">
        <div class="hero-image-holder">
          <Picture
            src={heroImage}
            alt={t("hero.dashboardImgAlt")}
            formats={["avif", "webp"]}
            loading="eager"
            fetchpriority="high"
            class="hidden sm:block"
          />

          <Picture
            src={heroImageMobile}
            alt={t("hero.dashboardImgAlt")}
            formats={["avif", "webp"]}
            loading="eager"
            fetchpriority="high"
            class="block sm:hidden"
          />
        </div>
      </div>
    </main>
  </Container>
</div>

<style>
  .hero-image-holder {
    max-width: 1240px;
  }
  @media (max-width: 1280px) {
    .hero-image-holder {
      max-width: calc(100vw - 3rem);
    }
  }
  @media (max-width: 480px) {
    .review-section-hero {
      display: grid !important;
    }
    .review-section-hero-images {
      justify-content: center;
    }
    .review-section-hero-text {
      text-align: center;
    }
  }
</style>
