---
import Container from "@components/container.astro";
import Review from "@components/review.astro";

import {
  getLangFromUrl,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const testimonialObject = t("testimomials.list");
const testimonials = Array.isArray(testimonialObject)
  ? testimonialObject // If already an array, just use it
  : Object.values(testimonialObject);
---

<Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      {t("testimonials.heading")} <span class="text-blue-600">{t("testimonials.headingSpan")}</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      {t("testimonials.p1")}
    </p>
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-blue-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex w-auto py-5 overflow-x-auto flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
